.App {
  text-align: center;
  border: 3px solid gray;
  height: 80vh;
  border-radius: 5px;
  margin: 0px 5%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  text-align: left;
  margin: 5% auto;
  font-weight: 600;
  margin-left: 10%;
}


.upload{
  border: none;
  margin: 70px auto;
  background-color: white;
}
.container{
  margin: auto 10%;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
  height: 200px;
}
.submit{
  background-color:#4CAF50;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  height: 30px;
  width: 100px;
}
.navbar{
  background-color: rgb(203, 185, 81);
  text-align: left;
  font-size: medium;
  font-weight: 200;
  margin: auto;
  height: 45px;
  padding: auto;


  text-transform: capitalize;
}